<!-- LoginFormComponent => LoginPageCompoent -->

<div
  class="form__wrapper"
  fxLayout="column"
  fxLayoutAlign="center start">
  <div
    class="header__wrapper">
    <h2>
      Logg dich ein.
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maxime quis quos voluptates!
    </p>
  </div>
  <div
    class="form-field__wrapper"
    fxLayout="column">
    <mat-form-field>
      <input
        class="form-field__input"
        matInput
        [formControl]="emailControl"
        placeholder="E-Mail"
        type="text">
    </mat-form-field>
    <mat-form-field>
      <input
        class="form-field__input"
        matInput
        [formControl]="passwordControl"
        placeholder="Password"
        type="password">
    </mat-form-field>
  </div>
  <div
    class="buttons__wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <button
      mat-button>
      Sign-Up
    </button>
    <button
      mat-raised-button
      (click)="onLogin()">
      Einloggen
    </button>
  </div>
</div>
