<!--

 @LoginFormComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 15.09.2020

 -->
<div
  class="form__wrapper"
  fxLayout="column"
  fxLayoutAlign="center center">
  <form
    [formGroup]="loginForm"
    onSubmit="return false"
    class="form-field__wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="1rem">
    <!-- Input Email -->
    <div
      class="form-field__input-wrapper">
      <div
        id="form-field__label--email"
        fxFlexAlign="start"></div>
      <input
        class="form-field __input --email"
        formControlName="email"
        type="text">
      <span>
        @edu.bib.de
      </span>
    </div>
    <!-- Input Password -->
    <div
      id="form-field__label--password"
      fxFlexAlign="start"></div>
    <input
      class="form-field __input --password"
      formControlName="password"
      type="password"
      fxFlexAlign="start">
    <a>
      Passwort zurücksetzen
    </a>

  </form>
  <!-- Action Buttons -->
  <div
    class="buttons__wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <button
      type="button"
      class="__button --secondary"
      (click)="onSignup()">
      Sign-Up
    </button>
    <button
      type="button"
      class="__button"
      (click)="onLogin()">
      Einloggen
    </button>
  </div>
</div>
