/* Box */
.form__wrapper {
  width: 500px;
  max-width: 80%;
  height: 600px;
  max-height: 60%;
  padding: 1rem;
  margin: 0 auto;
}
.form__wrapper > * {
  width: 100%;
}

/* Header */
.header__wrapper {
  margin-bottom: 3rem;
}
.header__wrapper > * {
  text-align: center;
}
.header__wrapper > h2 {
  margin-bottom: 1rem;
}
.header__wrapper > p {
  padding: 0 2rem;
  font-size: .9rem;
  color: rgba(70, 70, 70, .8);
}

/* Form Fields */
.form-field__wrapper {
  height: auto;
  padding: 2rem 2rem;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(70, 70, 70, .8);
  border-radius: 2rem;
}

.form-field__wrapper p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.form-field__input {
  width: 100%;
}

.form-field__wrapper a {
  text-decoration: none;
  margin-left: auto;
  margin-top: 1rem;
  font-size: .8rem;
  color: rgba(70, 70, 70, .6);
}

/* Buttons */
.buttons__wrapper {
  width: 100%;
  margin-top: 3rem;
  padding: 0 2rem;
}
