/* Box */
.form__wrapper {
  width: 400px;
  max-width: 80%;
  height: 600px;
  max-height: 60%;
  padding: 1rem;
  margin: 0 auto;
}
.form__wrapper > * {
  width: 100%;
}

/* Header */
.header__wrapper {
  margin-bottom: 2rem;
}

/* Form Fields */
.form-field__wrapper {
  margin-bottom: 2rem;
}

.form-field__input {
  width: 100%;
}
