<!--

 @PostNavComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 21.09.2020

 -->
<div
  class="nav__wrapper"
  fxLayout="row"
  fxLayoutAlign="center center">
  <div
    id="left"
    class="nav__button --left"
    (click)="direction.emit('left')">
    <mat-icon>
      arrow_back_ios
    </mat-icon>
  </div>
  <div
    id="right"
    class="nav__button --right"
    (click)="direction.emit('right')">
    <mat-icon>
      arrow_forward_ios
    </mat-icon>
  </div>
</div>
