<div
  class="cards__wrapper"
  fxLayout="row"
  fxLayoutAlign="center center">
  <!-- Cards -->
  <div
    class="cards__card"
    fxLayout="column"
    fxLayoutAlign="start start">
    <!-- Image -->
    <div
      fxFlexAlign="center"
      class="cards__img">
    <!-- Topic -->
    <div
      class="header__wrapper"
      fxLayout="row">
      <div
        fxLayout="column"
        fxLayoutAlign="center start"
        fxLayoutGap=".8rem"
        class="topic__wrapper">
        <p
          class="cards__topic">
        </p>
        <p
          class="cards__type">
        </p>
      </div>
      <div
        class="cards__user"
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap=".3rem">
        <img
          class="cards__user--img">
        <span
          clasS="cards__user--name">
        </span>
      </div>
    <!-- Type -->
    <p
      class="cards__title">
    </p>
    <p
      class="cards__content">
    </p>
    <div
      class="cards__footer"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxLayoutGap="2rem">
      <div
        class="cards__date"
        fxLayout="row">
        <span
          class="cards__date--text">
          <mat-icon>access_time</mat-icon>
          </span>
      </div>
      <button
        class="--extra-actions">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
