<!--

 @Layout: LoginFormComponent, SignupFormComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 15.09.2020

 -->
<main
  class="page__wrapper"
  fxFill
  gdAreas="top | logo | form | bottom"
  gdColumns="1fr"
  gdRows="auto auto 1fr auto"
  gdAreas.xs="logo | form"
  gdRows.xs="auto 1fr">
  <!-- Top Info -->
  <div
    *ngIf="!isMobile"
    gdArea="top"
    class="page__top-info"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <p>Beta</p>
    <p>Lernaufgabe @ 2020</p>
  </div>
  <!-- Logo (Desktop) -->
  <div
    *ngIf="!isMobile"
    gdArea="logo">
    <div
      class="logo__neon--pink"></div>
    <div
      class="logo__neon--blue"></div>
    <div
      class="page__logo-wrapper"
      fxLayout="column"
      fxLayoutAlign="end center">
      <img
        src="./assets/bibnow--1.png"
        alt="bib now logo">
      <p
        *ngIf="formState === 'signup'"
        class="logo__subtitle">
        Please check your inbox and follow the link.
      </p>
      <p
        *ngIf="formState !== 'signup'"
        class="logo__title">
        Erzähle uns, was abgeht - <i>auf deine Art!</i>
      </p>
      <p
        *ngIf="formState !== 'signup'"
        class="logo__subtitle">
        Poste was du willst, wie du willst. Jetzt mit <u>Bildern!</u>
      </p>
    </div>
  </div>
  <!-- Logo (Mobile) -->
  <div
    *ngIf="isMobile"
    gdArea="logo"
    fxLayout="column"
    fxLayoutAlign="end center">
    <div
      class="page__logo-wrapper --mobile">
      <img
        class="--mobile"
        src="./assets/bibnow--1.png"
        alt="bib now logo">
    </div>
    <div
      class="logo__subtitle">
      Lernaufgabe @ bib International College
    </div>
  </div>
  <!-- Form Layout -->
  <section
    gdArea="form">
    <!-- Buttons -->
    <div
      *ngIf="!formState"
      class="form__buttons-wrapper"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxLayoutAlign.xs="center center">
      <button
        name="signup"
        class="form __button --secondary"
        (click)="onSelect($event)">
        Konto erstellen
      </button>
      <a
        class="form__anmelden"
        (click)="onSelect($event)">
        Anmelden
      </a>
    </div>
    <!-- LoginFormComponent -->
    <app-login-form
      [isMobile]="isMobile"
      *ngIf="formState === 'login'"
      (formState)="onFormStateChanged($event)">
    </app-login-form>
    <!-- SignupFormComponent -->
    <app-signup-form
      [isMobile]="isMobile"
      *ngIf="formState === 'signup'"
      (formState)="onFormStateChanged($event)">
    </app-signup-form>
  </section>
  <!-- Bottom Info -->
  <div
    *ngIf="!isMobile"
    gdArea="bottom"
    class="page__bottom-info">
    <p>bibnow © 2020 All rights reserved | PBT3H19A</p>
  </div>
</main>
