/*

  @Styles: LoginPageComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 14.09.2020

*/

/* Page Wrapper Settings */
.page__logo-wrapper {
  height: 45%;
  background-image: linear-gradient(to top, #2B2839, #2B2839F7, #2B2839E7);
}
.page__top-info {
  padding: 2rem 3rem;
  color: rgba(250, 250, 250, .25);
  font-size: .8rem;
}
.page__bottom-info {
  padding: 2rem 3rem;
  text-align: center;
  color: rgba(230, 230, 230, .35);
  font-size: .6rem;
}

/* Form Layout */
.form__buttons-wrapper {
  height: 100%;
  padding-top: 5%;
}
.form.__button {
  width: 10rem;
}
.form__anmelden {
  margin-top: 2rem;
  color: rgba(250, 250, 250, .8);
  font-size: .8rem;
  cursor: pointer;
  transition: color 100ms ease;
}
.form__anmelden:hover {
  color: #FE53BB;
}

/* Logo Settings */
.page__logo-wrapper img {
  max-width: 400px;
}
.logo__subtitle {
  color: rgba(250, 250, 250, .75);
  font-size: .8rem;
  margin-top: 1.5rem;
}
.logo__title {
  color: rgba(250, 250, 250, .9);
  font-size: 1.75rem;
}

/* Neon-Animation */
.logo__neon--pink::before {
  position: absolute;
  top: 7.5%;
  right: 45%;
  content: '';
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background-color: #FE53BB;
  z-index: 60;
  filter: blur(60px);
  opacity: 0.55;
  animation: backGlow--red 15s ease infinite;
}
.logo__neon--blue::before {
  position: absolute;
  top: 17.5%;
  left: 45%;
  background-color: #08F7FE;
  content: '';
  height: 300px;
  width: 300px;
  border-radius: 50%;
  z-index: 30;
  filter: blur(60px);
  opacity: 0.35;
  animation: backGlow--blue 15s ease infinite;
}
@keyframes backGlow--red {
  0% {
    transform: translate(0, 0);
    opacity: 0.4;
  }
  25% {
    transform: translate(-20%, 20%);
    opacity: 0.3;
  }
  50% {
    transform: translate(-20%, -20%);
    opacity: 0.4;
  }
  75% {
    transform: translate(20%, 20%);
    opacity: 0.3;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.4;
  }
}
@keyframes backGlow--blue {
  0% {
    transform: translate(0, 0);
    opacity: 0.15;
  }
  25% {
    transform: translate(20%, -20%);
    opacity: 0.1;
  }
  50% {
    transform: translate(20%, 20%);
    opacity: 0.15;
  }
  75% {
    transform: translate(-20%, -20%);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0.15;
  }
}
