<!--

 @Layout: LoginFormComponent, SignupFormComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 15.09.2020

 -->
<main
  class="page__wrapper"
  fxFill
  fxLayout="column"
  fxLayoutAlign="center center">
  <!-- Form Layout -->
  <section
    fxFill
    fxLayout="column"
    fxLayoutAlign="center center">
    <div
      class="logo__neon--pink"></div>
    <div
      class="logo__neon--blue"></div>
    <div
      class="page__logo-wrapper"
      fxLayout="column"
      fxLayoutAlign="end center">
      <img
        src="./assets/bibnow--1.png">
      <p>
        seit 2020
      </p>
    </div>
    <!-- LoginFormComponent -->
    <app-login-form
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="!isSignup"
      (isSignUp)="onSwitch($event)">
    </app-login-form>
    <!-- SignupFormComponent -->
    <app-signup-form
      *ngIf="isSignup"
      (isSignup)="onSwitch($event)">
    </app-signup-form>
  </section>
</main>
