/*

  @Styles: CardWrapComponent (=> ContentViewerComponent)
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 21.09.2020

*/

/* Wrapper */
.cards__wrapper {
  padding-top: 6rem;
  padding-bottom: 2rem;
  position: relative;
}

/* Placeholder */
.no-data {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Card */
.cards__card {
  position: relative;
  height: 25rem;
  min-width: 17.5rem;
  border-radius: 1rem;
  background-color: #ECEFF1;
  box-shadow: 0 5px 2px #2B2839;
  padding: 9rem 2rem 2rem 2rem;
  margin-right: 2rem;
  transition: opacity 200ms ease;
}
.cards__card:not(.--active) {
  opacity: .3;
  cursor: pointer;
}
.cards__card.--hovered {
  opacity: .7;
}
.cards__card > p {
  margin-bottom: .5rem;
}

/* Card Header */
.header__wrapper {
  width: 100%;
}
.--extra-actions {
  margin-left: auto;
  color: #2B283955;
  border: 0;
  font-size: .9rem;
  cursor: pointer;
}
.--extra-actions:hover {
  color: #D43D61AA;
}

/* Card Image */
.cards__img {
  width: 80% !important;
  height: 10rem;
  object-fit: cover !important;
  margin: 0 auto;
  position: absolute !important;
  top: -2rem;
  box-shadow: 0 2px 10px #2B2839;
  background-color: transparent;
  border-radius: 1rem;
  opacity: .9;
  filter: grayscale(1);
  transition: opacity 200ms ease, filter 200ms ease, transform 200ms ease-in;
  cursor: pointer;
}
.cards__img.--active {
  opacity: 1;
  filter: none;
  transform: translateY(-2rem);
}
.cards__topic {
  /* Pomegranate */
  color: #2B28395A;
  font-size: .9rem;
}
.cards__type {
  color: #039be5;
  font-size: .75rem;
}
.--suche {
  color: #D43D61;
}
.cards__content {
  font-size: .9rem;
  font-weight: 300;
}
.cards__footer {
  margin-top: auto;
  width: 100%;
}
.cards__user--img {
  object-fit: cover !important;
  width: 1.8rem !important;
  height: 1.8rem !important;
  margin-right: .5rem;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 2px 2px #2B2839;
}
.cards__user--name, .cards__date--text {
  font-size: .75rem;
  color: #2B283999;
}
.cards__date mat-icon {
  vertical-align: middle;
  color: #2B283925;
}


/* Animations */
.slide--right {
  transform: translateX(20%);
  transition: transform 200ms ease;
}
.slide--left {
  transform: translateX(-20%);
  transition: transform 200ms ease;
}
