/*

  @Styles: CardWrapComponent (=> ContentViewerComponent)
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 21.09.2020

*/

/* Wrapper */
.cards__wrapper {
  padding-top: 6rem;
  padding-bottom: 2rem;
  position: relative;
}

.no-data {
  color: #ECEFF1;
  min-height: 24.5rem;
}
.no-data img {
  max-width: 180px;
}
.no-data p {
  font-size: .8rem;
}

/* Card */
.cards__card {
  position: relative;
  height: 24rem;
  min-width: 19rem;
  max-width: 19rem;
  border-radius: 1rem;
  background-color: #ECEFF1;
  box-shadow: 0 5px 2px #2B2839;
  padding: 8rem 2rem 2rem 2rem;
  margin-right: 2rem;
  transition: opacity 200ms ease;
}
.cards__card.--mobile {
  margin: 0 0 4rem 0;

}
.cards__card:not(.--active.--mobile) {
  opacity: .3;
  transition: opacity 200ms ease;
  cursor: pointer;
}
.cards__card.--hovered:not(.--mobile) {
  opacity: .8;
}
.cards__card > p {
  margin-bottom: .5rem;
}

/* Card Header */
.header__wrapper {
  padding-top: 1rem;
  width: 100%;
  margin-bottom: 1.2rem;
  position: relative;
}
.--extra-actions {
  margin-left: auto;
  color: #2B283955;
  border: 0;
  font-size: .9rem;
  cursor: pointer;
  outline: none;
}
.--extra-actions:hover {
  color: #D43D61AA;
}

/* Card Image */
.cards__img {
  width: 80% !important;
  height: 10rem;
  object-fit: cover !important;
  margin: 0 auto;
  position: absolute !important;
  top: -2rem;
  box-shadow: 0 2px 10px #2B2839;
  background-color: transparent;
  border-radius: 1rem;
  opacity: .9;
  filter: grayscale(1);
  transition: opacity 200ms ease, filter 200ms ease, transform 200ms ease-in;
  cursor: pointer;
}
.cards__img.--active {
  opacity: 1;
  filter: none;
  transform: translateY(-2rem);
}
.--mobile .cards__img {
  transform: none !important;
}
.cards__topic {
  /* Pomegranate */
  color: #2B2839AA;
  font-size: .9rem;
}

.cards__type {
  color: #039be5;
  font-size: .9rem;
}
.--suche {
  color: #D43D61;
}
.cards__content {
  font-size: .9rem;
  font-weight: 300;
}
.cards__footer {
  margin-top: auto;
  width: 100%;
}
.cards__user {
  margin-left: auto;
}
.cards__user--img {
  object-fit: cover !important;
  width: 2rem !important;
  height: 2rem !important;
  margin-right: .2rem;
  vertical-align: middle;
  border-radius: 50%;
  box-shadow: 0 2px 2px #2B2839;
  cursor: pointer;
}
.user__hover-info, .user__hover-info * {
  display: none;
  opacity: 0;
  transition: opacity 200ms ease;
}
.user__hover-info > span {
  font-weight: 800;
  font-size: 1.2rem;
}
.--active .header__wrapper:hover .user__hover-info * {
  display: block;
  opacity: .9;
}
.--active .header__wrapper:hover .user__hover-info {
  display: block;
  background-color: #ECEFF1;
  padding: 1.5rem;
  min-width: 15rem;
  max-width: 20rem;
  height: 50px;
  position: absolute;
  top: -3rem;
  right: -12rem;
  z-index: 9000;
  border-radius: .5rem;
  box-shadow: 1px 1px 3px rgba(30, 30, 30, .8);
  font-size: .8rem;
  color: #2B2839CC;
  opacity: 1;
}
.user__hover-info:hover {
  display: block;
  cursor: pointer;
}
.user__hover-info mat-icon {
  color: #2B2839CC;
  cursor: pointer;
  margin-left: auto;
}
.cards__date--text {
  font-size: .6rem;
  color: #2B2839CC;
  text-align: left;
}
.cards__user--name {
  padding-top: .3rem;
  font-size: .6rem;
}
.cards__date mat-icon {
  vertical-align: middle;
  color: #2B283925;
}
.user__hover-info > span {
  font-size: .8rem;
  color: #2B2839;
}
.--email {
  color: #039be5;
}

/* Subscribe Button */
.__button.--subscribe {
  color: #2B283955;
  width: 100%;
  font-size: 1.1rem;
  padding: .5rem;
}
.--active .__button.--subscribe:hover {
  color: #036be5EE;
}
