
<div class="container">
    <div class="row justify-content-center p-2">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [formControl]="topic" placeholder="Enter Topic">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [formControl]="content" placeholder="Enter Content">
    </div>
    <div class="form-group col-12">
        <input type="file"
        id="file"
        #userPhoto
        (change)="upload($event)"
        name="image"
        autocomplete="off"
        />
       </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="create()" [disabled]="!topic || !content ">Create Post</button>
    </div>
    <div class="form-group">
        <h4><b>{{message}}</b></h4>
    </div>

    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
            <h4>All Posts</h4>
        </div>
        <section>
            <mat-card *ngFor="let post of posts">
              <mat-card-content routerLink="{{post.id}}">
                <img mat-card-image src="{{post.image}}" alt="{{post.title}}">
                <h2>{{post.title}}</h2>
                <p>
                  <small>Posted by {{post.author}} &bull; on {{post.published | date:"fullDate"}}</small>
                </p>
                <p>
                  {{post.content}}
                </p>
              </mat-card-content>
            </mat-card>
          </section>
        
        <div class="col-md-3" *ngFor ="let item of posts">
            
            <div class="card" *ngIf="!item.isedit; else elseBlock">
                <div class="card-body">
                    <div class="card-title">
                        Name: {{item.name}}
                    </div>
                    <div class="card-text">
                       Content: {{item.content}}
                    </div>
                    <span>
                        <a href="#" (click)="editRecord(item)" class="btn btn-primary btn-xs">Edit Post</a>
                        <a href="#"  (click)="deleteRecord(item.id)" class="btn btn-danger btn-xs">Delete Post</a>
                    </span>
                </div>
            </div>

            <ng-template #elseBlock>
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Edit Post
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="item.editname" class="form-control">
                                </div>
                                <div class="col-md-12">
                                    <input type="text" [(ngModel)]="item.editcontent" class="form-control">
                                </div>
                            </div>
                        </div>

                        <a href="#" class="btn btn-danger btn-xs" (click)="item.isedit = false">Cancel</a>
                        <a href="#" class="btn btn-primary btn-xs" (click)="updateRecord(item)">Update Post</a>
                   
                    </div>
                </div>
            </ng-template>



        </div>
    </div>


</div>
