
<div class="container">
    <div class="row justify-content-center p-2">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [formControl]="topic" placeholder="Enter Topic">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" [formControl]="content" placeholder="Enter Content">
    </div>
    <div class="form-group col-12">
        <input type="file"
        id="file"
        #userPhoto
        (change)="upload($event)"
        name="image"
        autocomplete="off"
        />
       </div>
    <div class="form-group">
        <button class="btn btn-primary" (click)="create()" [disabled]="!topic || !content ">Create Post</button>
    </div>
    <div class="form-group">
        <h4><b>{{message}}</b></h4>
    </div>

    <div class="row p-2">
        <div class="col-md-12 p-2 justify-content-center">
            <h4>All Posts</h4>
        </div>
        <div *ngFor="let post of posts">
        <div [hidden]="!editing">
            <mat-card>
              <h1>Edit Post</h1>
                <mat-form-field>
                  <input matInput placeholder="Post title" [formControl]="topic" name="title">
                </mat-form-field>
                <br>
                <mat-form-field>
                  <textarea matInput placeholder="Post content" [formControl]="content" name="content" rows="10"></textarea>
                </mat-form-field>
                <br>
                <button mat-raised-button (click)="updatePost()" color="accent">Save</button>
                <button mat-button (click)="editing=false" *ngIf="editing">Cancel</button>
          </mat-card>
          </div>
        
          <div [hidden]="editing">
            <mat-card>
              <img mat-card-image src="{{post.image}}" alt="{{post.title}}">
              <h2>{{post.title}}</h2>
              <p>
                <small>Posted by {{post.author}} &bull; on {{post.datePosted | date:"fullDate"}}</small>
              </p>
              <mat-card-content>
                <p>{{ post.content }}</p>
              </mat-card-content>
                <button mat-icon-button (click)="editing=true">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button (click)="delete(post.id)">
                  <mat-icon>delete</mat-icon>
                </button>
            </mat-card>
          </div>
        </div>
        
        
    
    </div>


</div>
