.sidebar__wrapper {
  height: 100%;
  width: 16rem;
  padding: 2rem;
  background-color: rgba(230, 230, 230, .9);
}
/* Logo */
.sidebar__logo {
  margin-bottom: 3rem;
}
.sidebar__logo > h1 {
  color: rgba(0, 0, 0, .7);
}
.sidebar__logo > span {
  color: rgba(70, 70, 70, .5);
}

/* Link */
.sidebar__link {
  width: 100%;
  height: 3rem;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, .25);
  margin-bottom: 2rem;
  transition: color 200ms ease-in;
}
.sidebar__link:hover {
  color: rgba(0, 0, 0, .85);
}

.sidebar__link mat-icon {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

.sidebar__link span {
  margin-left: 1.5rem;
}

.sidebar__footer {
  margin-top: auto;
  color: rgba(0, 0, 0, .5);
  font-size: .8rem;
  text-align: center;
}
