<div
  class="sidebar__wrapper"
  fxLayout="column"
  fxLayoutAlign="start center">
  <div
    class="sidebar__logo __inset-wrapper">
    <h1>bibnow</h1>
    <span>seit 2020</span>
  </div>
  <a
    *ngFor="let link of navLinks"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="sidebar__link __circle-button"
    [href]="link.url">
    <mat-icon>
      {{ link.iconName }}
    </mat-icon>
  </a>
  <button
    class="__button --sign-out"
    (click)="onSignOut()">
    Sign Out
  </button>
  <div
    class="sidebar__footer">
    <p>Charlie Wiegand</p>
    <p>Jawoon Kim</p>
  </div>
</div>
