<div
  class="sidebar__wrapper"
  fxLayout="column"
  fxLayoutAlign="center center">
  <div
    class="sidebar__logo">
    <h1>bibnow</h1>
    <span>seit 2020</span>
  </div>
  <a
    *ngFor="let link of navLinks"
    fxLayout="row"
    fxLayoutAlign="center center"
    class="sidebar__link __circle-button"
    (mouseenter)="link.isHovered = true"
    (mouseleave)="link.isHovered = false"
    [href]="link.url">
    <mat-icon>
      {{ link.iconName }}
    </mat-icon>
    <span *ngIf="link.isHovered">
      {{ link.name }}
    </span>
  </a>
  <button
    class="__button --sign-out"
    (click)="onSignOut()">
    Sign Out
  </button>
  <div
    class="sidebar__footer">
    <p>Charlie Wiegand</p>
    <p>JawoonKim</p>
  </div>
</div>
