/*

  @Styles: SideNavComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 15.09.2020

*/

/* Wrapper Settings */
.sidebar__wrapper {
  height: 100%;
  width: 16rem;
  padding: 2rem;
  background-color: var(--primary-background);
}

/* Logo Settings */
.sidebar__logo {
  margin-bottom: 3rem;
}
.sidebar__logo img {
  max-width: 200px;
}

/* Nav Links Settings */
.sidebar__link {
  width: 70%;
  height: 3rem;
  text-decoration: none;
  text-align: center;
  color: rgba(240, 240, 240, .9);
  margin-bottom: 2rem;
  transition: color 100ms ease-in;
}
.sidebar__link mat-icon {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}
.sidebar__link span {
  text-align: left;
  margin-left: 1rem;
}
.sidebar__footer {
  color: rgba(240, 240, 240, .5);
  font-size: .8rem;
  text-align: center;
}

/* Action Buttons */
.__button.--sign-out {
  width: 70%;
  margin-top: auto;
  margin-bottom: 2rem;
}
