/*

  @Styles: ContentViewerComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 16.09.2020

*/

/* Wrapper Settings */
.viewer__wrapper {
  background-color: #2B2839;
  box-shadow: inset 0 5px 10px #1e181e;
  padding: 0 0 5% 0;
  position: relative;
}

.viewer__nav {
  width: 80%;
  margin: 0 auto;
}
/* ABSOLUTES */
.viewer__footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .7rem;
  font-weight: 300;
  color: #ECEFF155;
  text-align: center;
}
.side-cover {
  position: absolute;
  width: 10%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.side-cover.--left {
  background-image: linear-gradient(to right, #2B2839, #2B283988, transparent);
  left: 0;
}
.side-cover.--right {
  background-image: linear-gradient(to left, #2B2839, #2B283988, transparent);
  right: 0;
}
