<!--

 @ContentViewerComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 16.09.2020

 -->
<div
  class="viewer__wrapper"
  fxFill
  gdAreas="topic | cards | post-nav"
  gdRows="auto 1fr auto"
  gdColumns="1fr">
  <!-- ABSOLUTE -->
  <div
    class="viewer__title"
    fxLayout="row">
  </div>
  <!-- TOPIC -->
  <app-topic-nav
    (onTopicChange)="onTopicChange($event)"
    gdArea="topic"></app-topic-nav>
  <!-- CARDS -->
  <app-card-wrap
    id="viewer__cards"
    [direction]="direction"
    [posts]="posts"
    gdArea="cards"
    fxFill
    fxLayout="column"
    fxLayoutAlign="end center"></app-card-wrap>
  <!-- POST NAV -->
  <app-post-nav
    #postNav
    (direction)="onDirectionChange($event)"
    gdArea="post-nav">
  </app-post-nav>
  <!-- ABSOLUTE -->
  <div
    class="viewer__footer">
    <p>
      bibnow © All rights reserved | bib International College
    </p>
  </div>
</div>

