/*

  @Styles: ContentViewerComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 16.09.2020

*/

/* Wrapper Settings */
.viewer__wrapper {
  background-color: #2B2839;
  box-shadow: inset 0 5px 10px #1e181e;
  padding: 2% 10% 5% 10%;
  position: relative;
}
.viewer__title {
  position: absolute;
  right: 12%;
  top: 5%;
  color: #ECEFF155;
  font-size: .6rem;
  font-weight: 300;
}
.viewer__title p:last-child {
  margin-left: auto;
}
.viewer__footer {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  font-size: .7rem;
  font-weight: 300;
  color: #ECEFF155;
  text-align: center;
}


