/*

  @Styles: PostDialogComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 15.09.2020

*/

/* Header Settings */
.header__text {
  padding: 0 .6rem;
  margin: 1rem 0;
}
.--user {
  font-size: .8rem;
  color: #2B283955;
}

/* Input Settings */
.--content, .--type, .--title {
  border: 1px solid #2B283925;
}
.dialog__input-group {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  padding: 0;
}
.--type, .--title {
  width: 20rem;
  font-size: 1rem;
  height: 3rem;
  color: #2B2839;
  border-radius: .5rem;
  padding: .2rem .6rem;
}
.--type:focus, .--title:focus {
  outline: none;
}
.--label {
  position: relative;
  font-size: .7rem;
  color: #2B283955;
  left: .9rem;
  bottom: 1.9rem;
}

/* Action Button Settings */
.dialog__button-group {
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.--cancel, .--post {
  color: #2B283935;
}
.--cancel:hover {
  color: #2B2839;
}
.--post:hover {
  color: #039be5;
}

.--content {
  font-size: 1rem;
  color: #2B2839;
  box-shadow: none;
  resize: none;
}

/* Input Image */
.--file {
  width: 10rem;
  margin-left: auto;
  outline: none;
  box-shadow: none;
}
.--file:focus {
  border: 0;
  box-shadow: none;
}
.--file::-webkit-file-upload-button {
  visibility: hidden;
}
.--file::before {
  color: rgba(50, 50, 50, .65);
  content: '+ Bilder aussuchen...';
  cursor: pointer;
}


