<!--

 @PostDialogComponent (Dialog)
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 16.09.2020

 -->

<div
  class="dialog__wrapper">
  <!-- Header -->
  <h2
    mat-dialog-title
    class="header__text">
    Posten
    <span
      class="--sub">
      @ bibnow
    </span>
  </h2>
  <!--Form -->
  <div
    mat-dialog-content
    fxLayout="column"
    fxLayoutGap="2rem"
    class="dialog__input-group">
    <!-- Topics 6& Types -->
    <div
      class="buttons__wapper"
      fxLayout="column">
      <!-- Topics -->
      <div
        class="buttons__label">
        Topics
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-around center"
        class="topics__wrapper">
        <a
          *ngFor="let topic of topics"
          (click)="onTopicSelect(topic)"
          [ngClass]="{
          '--fb': topic === 'Fundbüro',
          '--tt': topic === 'Tutorium',
          '--ag': topic === 'Allgemein',
          '--active': topic === currentTopic
        }"
          class="__button--flat">
          {{ topic }}
        </a>
      </div>
      <mat-divider></mat-divider>
      <!-- Type: Fundbüro -->
      <div
        *ngIf="currentTopic === 'Fundbüro' || currentTopic === 'Tutorium'"
        class="buttons__label --types">
        Types
      </div>
      <div
        *ngIf="currentTopic === 'Fundbüro'"
        class="types__wapper"
        fxLayout="row"
        fxLayoutAlign="space-around center">
        <a
          *ngFor="let type of typesFB"
          (click)="currentType = type"
          [ngClass]="{
          '--fb': currentTopic === 'Fundbüro',
          '--active': type === currentType
        }"
          class="__button--flat --type">
          {{ type }}
        </a>
      </div>
      <!-- Type: Tutorium -->
      <div
        *ngIf="currentTopic === 'Tutorium'"
        class="types__wapper"
        fxLayout="row"
        fxLayoutAlign="space-around center">
        <a
          *ngFor="let type of typesTT"
          (click)="currentType = type"
          [ngClass]="{
          '--tt': currentTopic === 'Tutorium',
          '--active': type === currentType
        }"
          class="__button--flat --type">
          {{ type }}
        </a>
      </div>
      <!-- Tags: Allgemein -->
      <div
        *ngIf="currentTopic === 'Allgemein'"
        class="tags__wrapper"
        fxLayout="column"
        fxLayoutAlign="center start">
        <input
          fxFlex="1 0 auto"
          class="__tags __input"
          name="tags"
          type="text"
          placeholder="Tags: (Komma zum Hinzufügen)"
          [formControl]="tagsControl"
          autocomplete="off">
        <div
          fxLayout="row"
          fxLayoutAlign="center end"
          class="__tags">
          <div
            *ngFor="let tag of tagsAG"
            class="--tag">
            <p>{{tag}}</p>
          </div>
        </div>
      </div>
  </div>
  <!-- Title -->
  <div
    fxLayout="column"
    class="input__wrapper">
    <input
      (keyup)="isInvalid = false"
      [formControl]="titleControl"
      class="__input --title"
      tabindex="1"
      name="title"
      type="text"
      placeholder="Title"
      autocomplete="off">
    <div
      class="--error"
      (keyup)="isInvalid = false"
      *ngIf="isInvalid && titleControl.invalid">
      *Title ist ein Pflichtfeld.
    </div>
    <div
      class="--label">
      *Max 17 Characters.
    </div>
  </div>
  <!-- Content -->
  <div
    fxLayout="column"
    class="input__wrapper">
    <textarea
      (keyup)="isInvalid = false"
      [formControl]="contentControl"
      rows="4"
      cols="50"
      class="__textarea --content"
      tabindex="2"
      name="content"
      type="text"
      placeholder="Schreib was..."
      autocomplete="off">
    </textarea>
    <div
      class="--contentError --error"
      *ngIf="isInvalid && contentControl.invalid">
      *Content ist ein Pflichtfeld.
    </div>
  </div>
  <!-- Nächster Termin (Tutorium) -->
    <div
      *ngIf="currentTopic === 'Tutorium'"
      fxLayout="column"
      class="input__wrapper">
      <p
        class="--termin">
        <span
          class="--tutorium">
          Tutorium:
        </span>
        Nächster Termin
      </p>
      <input
        (keyup)="isInvalid = false"
        [formControl]="nextBlockControl"
        class="__input --title --ex"
        tabindex="1"
        name="next"
        type="date"
        placeholder="Title"
        autocomplete="off">
      <div
        class="--error"
        (keyup)="isInvalid = false"
        *ngIf="isInvalid && titleControl.invalid">
        *Nächster Termin ist ein Pflichtfeld.
      </div>
      <div
        class="--label">
        *
      </div>
    </div>
  <!-- Image -->
  <div
      fxLayout="row"
      class="input__wrapper--file">
      <div
        [ngClass]="{'--exist': this.dataFile}"
        class="--filePath">
        {{ this.dataFile ? this.dataFile.name + ' (' + this.dataSize + ' KB)' : 'Keine Bilder ausgewählt' }}
      </div>
      <input
        type="file"
        id="file"
        class="--file"
        #userPhoto
        (change)="prepareImage($event)"
        name="image"
        autocomplete="off"
        accept=".jpeg, .png, .jpg"
      />
  </div>
  </div>
  <!--Action Buttons -->
  <div
    class="dialog__button-group"
    mat-dialog-actions
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <button
      class="__button --flat --cancel"
      (click)="onCancel()">
      Abbrechen
    </button>
    <button
      class="__button --flat --post"
      (click)="onPosten()">
      <mat-icon>comment</mat-icon>
      Posten
    </button>
  </div>
</div>
