<h2 mat-dialog-title>
  Post
</h2>
<div
  mat-dialog-content
  class="dialog__input-group">
    <textarea
      rows="4"
      cols="50"
      class="__textarea"
      tabindex="1"
      name="content"
      type="text"
      placeholder="Schreib was..."
      formControlName=""
      autocomplete="off"
      required></textarea>
</div>
<div
  mat-dialog-actions
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <button
    class="__button">
    Abbrechen
  </button>
  <button
    class="__button">
    Posten
  </button>

</div>
