/*

  @Styles: PostDialogComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 15.09.2020

*/

/* Wrapper */
.dialog__wrapper {
  margin: 1rem;
}

/* Header Settings */
.header__text {
  padding: 0 .6rem;
  margin: 1rem 0;
  font: 800 3rem 'Montserrat', sans-serif !important;
  opacity: .2;
}
.header__text span.--sub {
  font: 300 .8rem 'Montserrat', sans-serif !important;
  opacity: .9 !important;
  margin-left: auto;
}
.--user {
  font-size: .8rem;
  color: #2B283955;
}

/* Topics */
.buttons__wapper {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  /*box-shadow:
    inset 2px 2px 5px rgba(30, 30, 30, .1),
    inset -2px -2px 5px rgba(230, 230, 230, .1);*/
}
.topics__wrapper {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.types__wapper {
  margin-top: 1rem;
  padding-left: 2rem;
}
.buttons__label {
  position: absolute;
  top: 1.2rem;
  font-size: .7rem;
  color: #2B2839AA;
}
.buttons__label.--types {
  top: 4.5rem !important;
}
.__button--flat {
  font-size: 1rem;
  font-weight: 800;
  color: #2B283955;
  cursor: pointer;
  transition: color 200ms ease;
  padding: 0 1rem;
}
.__button--flat.--fb:hover {
  color: #FE53BB55;
}
.__button--flat.--tt:hover {
  color: #039be555;
}
.__button--flat.--ag:hover {
  color: #DD8CDD55;
}
.__button--flat.--fb.--active {
  color: #FE53BB88;
}
.__button--flat.--tt.--active {
  color: #039be588;
}
.__button--flat.--ag.--active {
  color: #DD8cDD88;
}
.--type {
  font-size: .8rem;
  opacity: .8;
}
/* Tags (Allgemein) */
.tags__wrapper {
  width: 100%;
}
.--tag {
  color: #2B2839;
  background-color: #2B283911;
  display: inline-block;
  height: 2rem;
  font-size: .7rem;
  border-radius: .5rem;
  padding: .4rem .8rem;
  margin-top: .8rem;
  margin-right: .5rem;
  vertical-align: middle;
}
.__tags.__input {
  text-align: center;
  color: #FE53BB;
  font-size: .8rem;
  width: 100%;
  border-bottom: #2B283955;
  padding: 1rem 1rem 0 0;
}
.__tags.__input:focus {
  box-shadow: none;
  color: #2B2839CC;
}

/* Input Settings */
.--content, .--title, .--topic, .buttons__wapper {
  border: 1px solid #2B283925;
}
.dialog__input-group {
  position: relative;
  overflow: hidden;
  margin: 2rem 0;
  padding: 0;
}
.dialog__input-group {
  margin-bottom: 2rem;
}
.input__wrapper {
  position: relative;
}
.--title, .--topic {
  font-size: 1rem;
  height: 3rem;
  color: #2B2839;
  border-radius: .5rem;
  padding: .2rem .6rem;
}
.--title:focus, .--topic:focus {
  outline: none;
}
.--label {
  text-align: right;
  position: absolute;
  font-size: .8rem;
  color: #2B283955;
  right: 0;
  bottom: -1rem;
}
.--contentError {
  position: relative;
  bottom: 2rem !important;
}
.--termin {
  font-size: 1.2rem;
  font-weight: 800;
  opacity: .5;
  text-align: right;
  margin-bottom: 1rem;
}
.--tutorium {
  color: #039be5;
}
.__input.--title.--ex {
  width: 10rem;
  margin-left: auto;
}
/* Action Button Settings */
.dialog__button-group {
  padding: 0 1.5rem;
  margin-bottom: 1rem;
}

.--cancel {
  color: #2B283935;
}
.--post {
  height: auto;
  width: auto;
  padding: 1rem 2rem 1rem 2rem;
  font-size: .9rem;
  color: #1e181e55;
  background-color: #039be522;
}
.--cancel:hover {
  color: #D43D61;
}
.--post:hover {
  color: #039be5;
}
.--post mat-icon {
  vertical-align: middle;
}

.--content {
  font-size: 1rem;
  color: #2B2839;
  box-shadow: none;
  resize: none;
}

/* Input Image */
.--file {
  width: 10rem;
  margin-left: auto;
  outline: none;
  box-shadow: none;
}
.--file:focus {
  border: 0;
  box-shadow: none;
}
.--file::-webkit-file-upload-button {
  visibility: hidden;
}
.--file::before {
  color: rgba(50, 50, 50, .65);
  content: '+ Bilder aussuchen...';
  cursor: pointer;
}
.--filePath.--exist {
  color: #039be5;
}

.--error {
  margin: 0;
  display: inline-block;
  position: relative;
  left: 5px;
  top: 0;
  color: #D43D61AA;
  font-size: .8rem;
}
.--filePath {
  position: relative;
  left: 1rem;
  font-size: .8rem;
}
