/*

  @Styles: TopicNavComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 21.09.2020

*/

/* Wrapper Settings */
.nav__wrapper {
  width: 100%;
  padding: 3rem 4rem 2.5rem 4rem;
}

/* Links */
.nav__link-group {
  position: relative;
}
.nav__link {
  font-size: 2rem;
  text-decoration: none;
  font-weight: 800;
  color: #ECEFF155;
  margin-right: 5rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition: color 200ms ease-in;
  cursor: pointer;
}
.nav__link-info {
  font-weight: 300;
  font-size: .8rem;
  color: #ECEFF155;
  position: absolute;
  left: 1.7rem;
  top: 2.5rem;
}
.nav__link-info.--tutor {
  left: 2rem;
}
.--tutor.--number {
  color: #039be5AF !important ;
}
.nav__link-info .--number {
  color: #FE53BBAF;
  padding: 0 .3rem;
}
.--active {
  transition: text-shadow 1000ms ease;
}

/* Fundbüro Tab */
.nav__link.--fb:not(.--active):hover {
  color: #FE53BB55;
}
.--fb.--active {
  text-shadow: 0 0 20px #FE53BB;
  color: #FEDDDD;
}

/* Tutorium Tab */
.nav__link.--tt:not(.--active):hover {
  color: #039be555;
}
.--tt.--active {
  text-shadow: 0 0 20px #039be5;
  color: #CCCCFE;
}

/* Action Buttons */
.nav__actions {
  margin-left: auto;
}
.--post {
  height: auto;
  width: auto;
  padding: 1rem 2rem;
  color: #CCCCFE55;
  border: 0;
  background: 0;
  box-shadow:
    2px 2px 5px #1e181eAA,
    -2px -2px 5px #ECEFF11A;
  font-size: 2rem;
  font-weight: 800;
  transition: color 200ms ease, text-shadow 1000ms ease, box-shadow 400ms ease;
}
.--post:hover {
  color: #CCCCFE;
  text-shadow: 0 0 15px #08F7FE;
  box-shadow:
    -1px -1px 15px #039be5,
    1px 1px 15px #FE53BBAA;
}
