<!--

 @TopNavComponent
 @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
 @Erstellt am: 17.09.2020

 -->
<div
  class="nav__wrapper"
  fxLayout="row"
  fxLayoutAlign="start center"
  fxLayoutGap="4rem">
  <div
    (click)="onHome()"
    class="nav__logo">
    <h2>
      bibnow
    </h2>
  </div>
  <div
    class="nav__search-bar">
    <mat-icon
      class="search-bar__icon">search</mat-icon>
    <input
      [formControl]="searchControl"
      class="search-bar__input"
      tabindex="1"
      name="search"
      type="text"
      placeholder="Suche Posts..."
      autocomplete="off">
  </div>
  <!--
  <div
    class="nav__menu">
    <a
      class="nav__link"
      *ngFor="let link of links"
      (click)="onNavClick(link.url)">
      {{ link.name }}
    </a>
  </div>
  -->
  <div
    class="nav__post">
    <button
      class="__button --post"
      (click)="onPost()">
      <mat-icon>edit</mat-icon>
      <span>Posten</span>
    </button>
  </div>

  <div
    class="nav__profile">
    <a
      (click)="onProfile()"
      class="account __expand">
      <mat-icon>
        account_circle
      </mat-icon>
    </a>
    <a
      class="notification __expand">
      <mat-icon>
        forum
      </mat-icon>
    </a>
    <button
      (click)="onSignout()"
      class="nav __button --flat --logout">
      Sign Out
    </button>
  </div>
</div>
