/*

  @Styles: TopBarComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 15.09.2020

*/

/* Wrapper Settings */
.top__wrapper {
  padding: 2rem;
  background-color: #F5F3F4;
  border-bottom: 1px solid rgba(70, 70, 70, .2);
}
