* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #1F534F;
  overflow: hidden;
}

/* Neumorphism */
/* Buttons */
.__button {
  color: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  font-size: .7rem;
  background-color: #D14B4D;
  border: 0;
  height: 3rem;
  width: 6rem;
  cursor: pointer;
  border-radius: 1rem;
  transition: box-shadow 200ms ease-in;
  outline: none;
}
.__button:hover {
  box-shadow: 2px 2px 4px rgba(70, 70, 70, .4);
}

/* Wrapper */
.__inset-wrapper {
  padding: 2.5rem;
  border-radius: 1rem;
  border: 0;
  box-shadow:
    -2px -2px 5px rgba(260, 260, 260, .8),
    2px 2px 5px rgba(70, 70, 70, .2),
    inset -2px -2px 5px rgba(260, 260, 260, .8),
    inset 2px 2px 5px rgba(70, 70, 70, .2);
}
.__main-wrapper {
  margin: 2rem;
  padding: 2.5rem;
  border-radius: 5rem;
  border: 0;
  box-shadow:
    -18px -18px 30px rgba(250, 250, 250, .8),
    18px 18px 30px rgba(70, 70, 70, .2);
}

/* Input */
.__input {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(70, 70, 70, .8);
  padding: 1rem 0;
  outline: none;
}

