<!-- SignUpFormComponent => LoginPageCompoent -->
<div
  class="form__wrapper"
  fxLayout="column"
  fxLayoutAlign="center start">
  <div
    class="header__wrapper">
    <h2>
      Registriere dich!
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maxime quis quos voluptates!
    </p>
  </div>
  <form
    [formGroup]="signupForm"
    class="form-field__wrapper"
    fxLayout="column">
    <input
      class="form-field__input __input"
      formControlName="email"
      placeholder="E-Mail"
      type="text">
    <input
      class="form-field__input __input"
      formControlName="password"
      placeholder="Passwort"
      autocomplete="off"
      type="password">
    <input
      class="form-field__input __input"
      matInput
      formControlName="passwordReenter"
      placeholder="Reenter Passwort"
      autocomplete="off"
      type="password">
  </form>
  <div
    class="buttons__wrapper"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <button
      class="__button"
      (click)="onBack()">
      Back
    </button>
    <button
      class="__button"
      (click)="onSubmit()">
      Weiter
    </button>
  </div>
</div>
