/*

  @Styles: SignupFormComponent
  @Authors: Jawoon Kim, Charlie Wiegand (PBT3H19A)
  @Erstellt am: 14.09.2020

*/

/* Wrapper Settings */
.form__wrapper {
  width: 700px;
  max-width: 80%;
  height: 600px;
  max-height: 60%;
  padding: 1rem;
  margin: 0 auto;
  z-index: 10;
}
.form__wrapper > * {
  width: 100%;
}

/* Form Fields Settings */
.form-field__wrapper {
  height: auto;
  padding: 4rem;
  background-color: transparent;
  border-radius: 2rem;
  position: relative;
}
.form-field__wrapper p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.form-field__input-wrapper {
  width: 100%;
}
.form-field__input-wrapper .--email {
  width: 60%;
}
.form-field__input-wrapper span {
  margin-left: 1rem;
  font-weight: 300;
  color: rgba(230, 230, 230, .6);
}
.form-field.__input.--password {
  width: 60%;
}
.form-field.__input.--reenter {
  width: 60%;
  margin-top: 0.5rem;
}
.form-field__wrapper a {
  text-decoration: none;
  margin-right: auto;
  font-size: .8rem;
  color: rgba(250, 250, 250, .4);
  transition: color 100ms ease-in;
}
.form-field__wrapper a:hover {
  color: #FE53BB;
  cursor: pointer;
}
.form-field__input-hint {
  position: relative;
  top: .5rem;
  font-size: .75rem;
}

/* Buttons Settings */
.buttons__wrapper {
  width: 100%;
  margin-top: 3rem;
  padding: 0 6rem;
}

/* Forms Label Settings */
#form-field__label--email::before {
  content: "E-Mail";
  position: relative;
  top: 0;
  right: 0;
  color: rgba(250, 250, 250, 0.9);
}
#form-field__label--password::before {
  content: "Passwort";
  position: relative;
  top: 1rem;
  right: 0;
  color: rgba(250, 250, 250, 0.9);
}
#form-field__label--reenter::before {
  content: "Reenter";
  position: relative;
  top: 1rem;
  right: 0;
  color: rgba(250, 250, 250, 0.9);
}
